section(class='map')
  h2(class='visually-hidden') Карта проезда
  picture(class='map__picture')
    source(type='image/webp' media='(min-width: 1440px)'
      srcset='img/map-desktop@1x.webp 1x, img/map-desktop@2x.webp 2x')
    source(type='image/webp' media='(min-width: 768px)'
      srcset='img/map-tablet@1x.webp 1x, img/map-tablet@2x.webp 2x')
    source(type='image/webp' media='(min-width: 320px)'
      srcset='img/map-mobile@1x.webp 1x, img/map-mobile@2x.webp 2x')
    source(media='(min-width: 1440px)'
      srcset='img/map-desktop@1x.jpg 1x, img/map-desktop@2x.jpg 2x')
    source(media='(min-width: 768px)'
      srcset='img/map-tablet@1x.jpg 1x, img/map-tablet@2x.jpg 2x')
    img(class='map__img' src='img/map-mobile@1x.jpg'
      srcset='img/map-mobile@2x.jpg 2x' alt='Карта проезда')
