mixin site-logo()
    a(class=attributes.parentClass class='site-logo'
      aria-label='На главную')&attributes({'href': attributes.linkHref})
      picture(class='site-logo__picture')
        source(type='image/webp' media='(min-width: 1440px)'
          srcset='img/logo-desktop-blue@1x.webp 1x, img/logo-desktop-blue@2x.webp 2x')
        source(type='image/webp' media='(min-width: 768px)'
          srcset='img/logo-tablet-blue@1x.webp 1x, img/logo-tablet-blue@2x.webp 2x')
        source(type='image/webp' media='(min-width: 320px)'
          srcset='img/logo-mobile-blue@1x.webp 1x, img/logo-mobile-blue@2x.webp 2x')
        source(media='(min-width: 1440px)'
          srcset='img/logo-desktop-blue@1x.jpg 1x, img/logo-desktop-blue@2x.jpg 2x')
        source(media='(min-width: 768px)'
          srcset='img/logo-tablet-blue@1x.jpg 1x, img/logo-tablet-blue@2x.jpg 2x')
        img(class='site-logo__img' src='img/logo-mobile-blue@1x.jpg'
          srcset='img/logo-mobile-blue@2x.jpg 2x' alt='Лого Поехали')
